body, .dialog, td {
  background-color: #161A1C ! important;
  font: 20px/1.6em "PragmataPro" !important;
  color: #B8ADA1;
  font-weight: bold;
}
div.col {
  padding: 0 !important;
  background-color: #161A1C ! important;
}
tbody.chat td {
  padding: 3px 5px !important;
  border: 0 !important;
  background-color: #161A1C ! important;
}
tbody.chat td.body {
  border-bottom: 1px dotted #f7f7f7 !important;
}
td.person, 
table.chat tr.you td,
table.chat tr.leave_message td, 
table.chat tr.enter_message td, 
table.chat tr.kick_message td {
  background-color: #161A1C !important;
}
table.chat tr.you td {
  color: #B8A187 !important;
  background-color: #161A1C ! important;
}
td.person {
  font-weight: bold !important;
  color: green ! important;
}
table.chat tr.leave_message td, 
table.chat tr.enter_message td, 
table.chat tr.kick_message td {
  color: #B8A187 !important;
  font: 14px/1.2em "PragmataPro" !important;
}
a, a:link, a:visited {
  color: #A0877F !important;
  text-decoration: underline;
}
table.chat td {
  border: none !important;
}
tr.lock_message, tr.unlock_message {
  color: red !important;
  font-weight: bold !important;
}


#upload_target {
  display:none ! important;
}
div.bottom {
  padding:0px ! important;
  margin:0px ! important;
  background-image: none ! important;
}
div#last_message{
  height: 10px ! important;
  padding-bottom: 5px ! important;
}
div#clipper > div {
  display:none ! important;
}
div.speak {
  width: 100% ! important;
  padding:0px ! important;
  margin:0px ! important;
  height:15px ! important;
  bottom:0px ! important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPCAYAAADkmO9VAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAN0lEQVQ4EWP8//8/NwMVAQvQLAkqmscAMlBy0Bs46mXKomjwxzIjMKf8p8yTqLqZULmU80aggQDfMQgRDRblXgAAAABJRU5ErkJggg==) top repeat-x ! important;
}
div.Left div.col {
  margin:0px ! important;
  padding-top: 0px ! important;
  padding-bottom: 0px ! important;
  background-image:none ! important;
}
div#Header {
  display:none ! important;
}
div#Sidebar {
  display:fixed ! important;
  right:-800px ! important;
  margin:0px ! important;
  padding:0px ! important;
}
div#corner_logo {
  display:none ! important;
}
tbody#chat div, tbody#chat span {
  font-size: .9em ! important;
}
div.Left {
  width: 100% ! important;
  padding: 0px ! important;
  margin: 0px ! important;
}
div#Wrapper {
  padding: 0px ! important;
  margin: 0px ! important;
}
div#Container {
  margin:0px auto 0pt ! important;
  padding:0px ! important;
  padding-bottom:5px ! important;
  background-color:#161A1C ! important;
}
tr.propane_search td { background-color: #ffd8d8 ! important; }
tr.propane_current_search td { background-color: #ff9090 ! important; }
div#open_bar { display: none ! important; }
tr.propane_alert_match:not(.propane_search) td.body { 
  background-color: #212527 ! important; 
  border-top: 1px solid #213036 ! important;
  border-bottom: 1px solid #213036 ! important;
}
form#search_form { display: none ! important; }

tr.propane_hidden_enterleave { display: none ! important; }

div#upload_form, input[type="file"] { display:none ! important; }
